.block_tutorlink fieldset div {
    margin: 0px !important;
}

.block_tutorlink .felement {
    width: 65% !important;
    margin-left: 33% !important;
}

.block_tutorlink .fitemtitle {
    width: 30% !important;
}