.block_tutorlink div.fileinputs {
	position: relative;
}

.block_tutorlink div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.block_tutorlink div.fakefile input {
        width: 112px;
}

#tutorlink_selectfile {
    background-color: #ddd;
    margin-left: 0.2em;
    padding: 0.1em;
}

.block_tutorlink .button_off, .block_tutorlink .button_on {
    border-style: solid;
    border-width: 2px;
}

.block_tutorlink .button_off {
    border-bottom-color: gray;
    border-right-color: gray;
    border-top-color: #ddd;
    border-left-color: #ddd;
}

.block_tutorlink .button_on {
    border-top-color: gray;
    border-left-color: gray;
    border-bottom-color: #ddd;
    border-right-color: #ddd;
}

.block_tutorlink input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity:0);
	opacity: 0;
	z-index: 2;
        width: 200px;
}